<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Cafe</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <header>
        <!-- <div id="logoContainer">
            <img src="./assets/images/Logo1.svg" alt="logo" id="logo">
        </div> -->
        <div id="linkContainer">
            <a class="linkHeader" href="aboutus">About Us</a>
            <a class="linkHeader" href="menu">Menu</a>
            <a class="linkHeader" href="meetourcats">Meet our Cats</a>
            {{#if loggedIn}}
            <a class="linkHeader" href="logout" style="color: #fe4a49;">logout</a>
            {{else}}
            {{!-- style="background: #238636; color: whitesmoke;" --}}
            <a class="linkHeader"  href="login">Login</a>
            {{/if}}
        </div>
    </header>

    {{{ body }}}

    <footer>
        <div id="footerContain">
            <div id="address">
                <h8 class="footerTitle">Address</h8>
                <h9>303 Meowtain rd</h9>
                <h9>Cater, NJ 01010</h9>
            </div>
            <div id="Hours">
                <h7 class="footerTitle">Open Hours</h7>
                <h9>Mon-Fri: 9AM - 9PM</h9>
                <h9>SAT-SUN: 12PM - 10PM</h9>
            </div>
        </div>


    </footer>
</body>

</html>