* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: founders-heading, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --Primary: #f4f4f8;
    --Seconnday: #e3d8b8;
    --Accent: #fe4a49;
    --Base: #2ab7ca;
    --BaseDark: #218d9b;
    --Button: #d68571;
    --submit: #238636;

}


header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: end;
    height: 100px;
    /* border: solid 1pt blue; */
    background-color: var(--Base);
    position: relative;

    >#logoContainer {
        display: flex;
        position: absolute;
        left: 0;
        width: 50px;
        margin-left: 30px;
        margin-bottom: 10px;
    }

    >#linkContainer {
        padding: 15px 0;

        >.linkHeader {
            border: solid 1pt red;
            text-transform: uppercase;
            background: var(--Base);
            border: none;
            margin: 10px;
            padding: 10px;
            color: white;
            font-size: var(--LargeScreenText);
            border-radius: 5px;
            font-size: 13pt;
            font-style: none;
            text-decoration: none;
        }

        >.btnHeader:hover {
            background-color: var(--BaseDark);
        }
    }
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: solid 2pt red;
    height: 500px;
}

.card {

    display: flex;
    flex-direction: column;
    width: fit-content;
    /* border: solid 1pt red; */
    background: var(--Seconnday);
    padding: 20px;
    border-radius: 5px;
    margin: 0 10px;

}

input {
    width: 300px;
    font-size: 16pt;
    border-radius: 5px;
    border: solid 1pt grey;
    padding: 5px;
}

label {
    width: 300px;
    font-size: 14pt;
}

.btnSubmit {
    padding: 10px;
    font-size: 14pt;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    background: #238636;
    color: #ffffff;
}


#catCard {
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    border-radius: 15px;
    height: 400px;
    width: 300px;
    overflow: hidden;
    justify-content: center;
    box-shadow: 0 0 10px rgba(158, 158, 158, 0.797);


    #cardContent {
        display: flex;
        flex-direction: column;
        align-content: center;
        height: 100%;


        >h1 {
            /* border: solid 1pt red; */
            text-align: center;
            margin: 5px 0;
            font-size: 20pt;
        }

        >img {
            /* border: solid 1pt red; */
            width: 90%;
            margin: 0 auto;
            border-radius: 10px;

        }

        >h2 {
            font-size: 14pt;
            text-align: center;
            margin-top: 5px;
            color: #525252;
            /* border: solid 1pt red; */
        }

        >#Catinfo {
            /* border: solid 1pt blue; */
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0 15px;
            margin-top: 5px;

            >.cirlceinfo {
                color: white;
                font-weight: 800;
                display: flex;
                height: 45px;
                width: 45px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: var(--Seconnday);
                border-radius: 100%;

            }
        }

    }
}

/* !   HOME     */
#homeIntroContain {
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-self: center;
    margin: 30px auto;
    /* border: solid 1pt red; */
    background-color: var(--Button);
    border-radius: 15px;
    overflow: hidden;
}

#titleContain {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 50%;
    font-size: 36pt;
    align-self: center;
    /* border: solid 1pt purple; */
    justify-content: space-between;
}

#hometitle {
    margin-right: 30px;
    text-align: right;
}

#imgContain {
    height: 400px;
    width: 50%;

    >.catProfile {
        height: 400px;
    }
}



/*! home Cards */

.HomeCardContain{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.homecard{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    border: solid 1pt red ;
    height: 600px;
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
}

#card_menu,#card_cat,#card_login{
    background-image: url(/assets/cat-coffee.jpg);
    background-repeat: no-repeat;
    background-size: contain;    
}
#card_cat{
    background-image: url(/public/assets/cat-coffee.jpg);
  
}
#card_login{
    background-image: url(/public/assets/cat-coffee.jpg);
    
}


/*!! footer */

footer {
    background: var(--BaseDark);
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 30px 0;
}

#footerContain {
    display: flex;
    flex-direction: row;
    color: #e3e3e3;
}

#address,
#Hours {
    display: flex;
    flex-direction: column;
    padding: 10px;

    >.footerTitle {
        border-bottom: solid 1pt #e3e3e3;
        padding-bottom: 5px;
        margin-bottom: 5px;
        font-size: 14pt;
    }
}

@media screen and (max-width: 375px) {
    #footerContain {
        border: solid 1pt red;
        display: flex;
        flex-direction: column;
    }
}