<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <h1>WELCOME TO THE <span>🐱</span>CAT CAFE<span>🐱</span></h1>
     <section id="catCard">
            <div id="cardContent">
                <img class="catProfile" src="/Cats/Papaya.jpg" alt="CatPicture">
            </div>
    </section>
</body>
</html>