* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: end;
    height: 100px;
    border: solid 1pt blue;
    background-color: white;
    position: relative;

    >#logoContainer {
        display: flex;
        position: absolute;
        left: 0;
        /* border: solid 1pt red; */
        width: 50px;
        margin-left: 30px;
        margin-bottom: 10px;
    }

    >#btnContainer {
        >.btnHeader {
            background: none;
            border: none;
            margin: 10px;
            padding: 10px;
            color: var(--fontColor);
            font-size: var(--LargeScreenText);
            border-radius: 5px;
        }

        >.btnHeader:hover {
            background-color: #ec4d3884;
        }
    }
}